@font-face {
    font-family: 'CustomFont';
    src: url('fonts/CustomFont-Regular.woff2') format('woff2');
}

body {
    font-family: 'CustomFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

.header__logo {
    position: relative;
    z-index: 2;
}
    

.header__nav {
    display: flex;
    position: absolute;
    z-index: 1;
    right: 0;
    padding: 0 10px;
}

.header__link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Pacifico-Regular';
}

.content {
    padding: 20px;
    font-family: 'Nerko One';
}

.image {
    max-width: 100%;
    height: auto;
}

.centered-box {
    width: 300px;
    height: 300px;
    background-color: #a78a3b;
    margin: 0 auto;
    overflow: hidden;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
     
@media (max-width: 768px) {
    .header {
    flex-direction: column;
    }
    .header__link {
    margin: 10px 0;
    }
    .header__nav {
        position: relative;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .header {
            font-size: 18px;
            color: #eb1111;
    }
}

 
@media (min-width: 601px) and (max-width: 1024px) {
    .header {
            font-size: 22px;
            color: #cfdd0f;
    }
}


        